.square {
  height: 100px;
  width: 100px;
  border: 2px solid purple;
  vertical-align: middle;
  background-color: pink;
  font-size: 5rem;
  text-align: center;
  color: purple;
 }

.board{
  width: 320px;
  flex-wrap: wrap;
  display: flex;
  margin: 0 auto;
 
}

h1 {
  text-align: center;
  color: purple;
}